@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.card:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transform: scale(1.1);
}
.tag-box{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    
}


 .checkbox{
    background-color: rgb(49, 51, 65);
    padding: .3rem 1rem;
    font-weight: 600;
    border-radius: 3rem;
    color:rgb(218, 218, 226);
    justify-content: space-around;
    margin:0% 25% 5%;
    font-family: "Lato", sans-serif;
    display: flex;
    cursor: pointer;
    
   
} 


.checkbox .checkboxN{
    appearance: none;
	  background-color: #2f4b6f;
	  border-radius: 72px;
	  border-style: none;
	  flex-shrink: 0;
	  height: 20px;
	  margin: 0;
	  position: relative;
	  width: 30px;
}

.checkbox .checkboxN::before{
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox .checkboxN,
.checkbox .checkboxN::after{
    transition: all 100ms ease-out;
}

.checkbox .checkboxN::after{
    background-color: #fff;
	  border-radius: 50%;
	  content: "";
	  height: 14px;
	  left: 3px;
	  position: absolute;
	  top: 3px;
	  width: 14px;
}

.checkbox input[typer = checkbox]{
    cursor:grab ;
}

.checkbox .checkboxN:hover{
    background-color: #909091;
	transition-duration: 0s;
}
.checkbox .checkboxN:checked{
    background-color: #b4b1b1;
}

.checkbox .checkboxN:checked::after{
    background-color: #f8f4f4;
	left: 13px;
}

.checkbox .checkboxN :focus:not(.focus-visible){
    outline: 0;
}

.checkbox .checkboxN:checked:hover{
    background-color: #bab7b7;
}



/* div:tag-box .a{
    background-color: rgb(61, 65, 65);
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 3rem;
    color:rgb(218, 218, 226);
} */

